.navu{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 140px;
    padding-left: 200px;
    width: 100%;
}
.navu a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    margin-left: 36px;
   
}
.navu a:hover{
    color: orange;
}

@media screen and (max-width: 840px) {
    .navu{
        padding-left: 80px;
        width: 860px;
        height: 80px;
    }
    .navu a{
       font-size: 17px;
      padding: 0;
       
    }
    /* .imu{
        position: relative;
        top: -25px;
    } */
    .alu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        /* position: relative;
        top: 25px; */
     }
    .navu a:hover{
        color: orange;
    }
    
    .navu a:hover{
        color: orange;
    }
    
} 

@media screen and (max-width: 440px) {
    .navu{
        padding-left: 20px;
        /* width: 500px; */
        height: 120px;
        padding-right: 0;
    }
    .navu a{
       font-size: 11px;
      padding: 0;
       
    }
    /* .imu{
        position: relative;
        top: -25px;
    } */
    .alu{
       position: relative;
       left: -120px;
     }
    .navu a:hover{
        color: orange;
    }
    
   
    
} 


